*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess
writable/
!writable/index.html
!writable/.htaccess

writable/logs/
writable/debugbar/
writable/cache/
writable/session/
writable/tests/
!writable/logs/index.html
!writable/logs/.htaccess
!writable/cache/index.html
!writable/cache/.htaccess

writable/*.log
writable/*.tmp

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
app/Config/Email.php
app/Config/Database.php
