body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.container {
  flex: 1 0 auto;
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
}

.my-navbar {
  background-color: #FFC227;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  min-height: 100px;
}

/* Ombre nette, taille adaptée pour gros éléments */
.my-navbar .btn-custom,
.my-navbar .btn-square,
.my-navbar .btn-custom-profile {
  box-shadow: -6px -6px 0 0 #009371;
}

/* Boutons larges */
.my-navbar .btn-custom {
  background-color: #5ABD89;
  color: #EFEFEF;
  font-weight: 600;
  border-radius: 24px;
  margin-right: 16px;
  font-size: 1.6rem; 
  padding: 15px 30px;
  border: none;
  transition: background 0.2s;
}
.my-navbar .btn-custom:hover {
  background-color: #009371;
}

/* Bouton carré arrondi */
.my-navbar .btn-square {
  background-color: #5ABD89;
  color: #EFEFEF;
  width: 80px; 
  height: 80x;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: none;
  margin-right: 8px;
  transition: background 0.2s;
}
.my-navbar .btn-square:hover {
  background-color: #009371;
}

.my-navbar .arrow-left {
  font-weight: bold;
  font-size: 2.6rem;
}
.my-navbar .navbar-title {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222;
  letter-spacing: 1px;
  padding: 6px 0;
}

/* Bouton profil carré arrondi */
.my-navbar .btn-custom-profile {
  background-color: #5ABD89;
  border-radius: 32px; 
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  overflow: visible;
  padding: 0;
}

/* Image profil centrée, plus grande */
.my-navbar .navbar-profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  background: #EFEFEF;
  position: relative;
  z-index: 2;
}

.footer-iae {
  background-color: #FFC227;
  color: #2a2a2a;
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
  letter-spacing: 1px;
  margin-top: auto;
  font-size: 1rem;
}
