body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.container {
  flex: 1 0 auto;
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
}

.my-navbar {
  background-color: #FFC227;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  min-height: 60px;
}
.my-navbar .btn-custom {
  background-color: #5ABD89;
  color: #EFEFEF;
  font-weight: 600;
  border-radius: 12px;
  margin-right: 8px;
  border: none;
  transition: background 0.2s;
}
.my-navbar .btn-custom:hover {
  background-color: #009371; 
}
.my-navbar .btn-square {
  background-color: #5ABD89;
  color: #EFEFEF;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: none;
  margin-right: 8px;
  transition: background 0.2s;
}
.my-navbar .btn-square:hover {
  background-color: #009371;
}
.my-navbar .arrow-left {
  font-weight: bold;
}
.my-navbar .navbar-title {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222;
  letter-spacing: 1px;
}
.my-navbar .btn-custom-profile {
  background-color: #5ABD89;
  border-radius: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  box-shadow: 0 1px 3px rgba(60,60,60,0.08);
  overflow: visible; /* Très important ! */
}

.my-navbar .navbar-profile-img {
  width: 32px;
  height: 32px;
  object-fit: cover;     /* Pour couvrir sans être rogné */
  border-radius: 50%;
  border: 2px solid #EFEFEF;
  box-shadow: 0 0 0 2px #5ABD89; /* léger contour pour ressortir */
  background: #EFEFEF;
  position: relative;
  z-index: 2;
}


.footer-iae {
  background-color: #FFC227;
  color: #2a2a2a;
  text-align: center;
  font-weight: 600;
  padding: 16px 0;
  border-top: 2px solid #5ABD89;
  letter-spacing: 1px;
  margin-top: auto;
}
