.footer-iae {
    background-color: #FFC227;
    color: #2a2a2a;
    text-align: center;
    font-weight: 600;
    padding: 10px 0;
    letter-spacing: 1px;
    margin-top: auto;
    font-size: 1rem;
}