.my-navbar {
    background-color: #FFC227;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    min-height: 100px;
}

.my-navbar .btn-custom,
.my-navbar .btn-square,
.my-navbar .btn-custom-profile {
    box-shadow: -6px -6px 0 0 #009371;
}

.my-navbar .btn-custom {
    background-color: #5ABD89;
    color: #EFEFEF;
    font-weight: 600;
    border-radius: 24px;
    margin-right: 16px;
    font-size: 1.6rem;
    padding: 15px 30px;
    border: none;
    transition: background 0.2s;
    text-decoration: none;
}

.my-navbar .btn-custom:hover {
    background-color: #009371;
    color: #EFEFEF;
}

.my-navbar .btn-square {
    background-color: #5ABD89;
    color: #EFEFEF;
    width: 80px;
    height: 80px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    border: none;
    margin-right: 8px;
    transition: background 0.2s;
    text-decoration: none;
}

.my-navbar .btn-square:hover {
    background-color: #009371;
    color: #EFEFEF;
}

.my-navbar .arrow-left {
    font-weight: bold;
    font-size: 2.6rem;
}

.my-navbar .navbar-title {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #222;
    letter-spacing: 1px;
    padding: 6px 0;
}

.my-navbar .btn-custom-profile {
    background-color: #5ABD89;
    border-radius: 32px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: relative;
    overflow: visible;
    padding: 0;
    text-decoration: none;
}

.my-navbar .navbar-profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    background: #EFEFEF;
    position: relative;
    z-index: 2;
}